
.wrapp-404 {
    position: absolute;
    width: 100%;

    
    background-image: url(../img/404-bg.webp);
    /* height: 100%; */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
}

.header-container{
    color: #fff;
}

.header-nav {

    border-bottom: 0.5px solid #fff;
}

.wrapp-404 .social {
    background-color: transparent;
}

.social {
   margin-top: 1084px;
}



.user-account svg {
    fill: none;
    stroke: #fff;
}


.social-link svg {
    fill: none;
}