@import url(./header.css);
@import url(./footer.css);

body {
    background: #fff;
    font-family: 'Candara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
}

.wrapper {
    margin: 0 auto;
   width: 100%;
}

.container {
    margin: 0 auto;
}

.btn-wrapp {
    width: 220px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    text-align: center;
    position: relative;
}

.btn-wrapp::after {
    content: "";
    position: absolute;
    width: 219px;
    height: 59px;
    top: -8px;
    right: -10px;
    border: 1px solid #484847;
    z-index: -1;
}

.catalog-btn { 
    text-align: center;
    width: 100%;
    padding: 10px 64px;
    background: #4B6049;
    color: #FFFBF5;
}

.catalog-btn:hover {
    cursor: pointer;
    translate: 9px -7px;
    transition: 1500ms;
}

.btn {
    width: 200px;
    position: relative;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    right: -37px;
    border: solid #4B6049;
    border-width: 2px 2px 0 0;
    transform: rotate( 45deg );
}

.btn::after {
    content: "";
    background: #4B6049;
    position: absolute;
    height: 2px;
    left: 165px;
    top: 50%;
    width: 70px;
}

.btn-down {
    width: 200px;
    position: relative;
}

.btn-down::after {
    content: "";
    position: absolute;
    height: 6px;
    left: 91px;
    width: 6px;
    bottom: -18px;
    border: solid #4B6049;
    border-width: 2px 2px 0 0;
    transform: rotate( 131deg );
}

.btn-down::before {
    content: "";
    background: #4B6049;
    position: absolute;
    height: 2px;
    left: 80px;
    bottom: -3px;
    width: 30px;
    transform: rotate( 90deg );
}

.more-btn {
    width: 100%;
    padding: 10px 20px;
    border: 1.5px solid #484847;
}






 .top {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 270px;
    right: 180px;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: rgba(75, 96, 73, 0.7);
    border-radius: 50%;
    white-space: nowrap;
}
  
.top::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 20px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #FFFBF5;
    border-right: 2px solid #FFFBF5;
    transform: rotate(-45deg);

}

::-webkit-scrollbar {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: #4B6049; 
    
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 

  }
  ::-webkit-scrollbar-button {
    display: block;
    background-color: #4B6049;
    background-repeat: no-repeat;   
    background-size: 50%;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:start:increment {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');   
}

::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:decrement {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');   
}
@media (max-width:768px) {
    .top {
        bottom: 0px;
        right: 0px;
    }
}