.blog-container {
   max-width: 1074px;
   /* display: flex;
   flex-direction: column;
   flex-wrap: wrap; */
}

.blog-title {
    padding-top: 50px; 
    padding-left: 66px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}

.blog-title::after {
    content: "";
    background: #4B6049;
    position: absolute;
    height: 2px;
   left: 0;
   top: 8px;
    width: 30px;
}

.blog-title::before {
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    top: 3px;

    border: solid #4B6049;
    border-width: 0 0  2px 2px;
    transform: rotate( 45deg );
}

.blog-content {
    margin-top: 30px;
    margin-bottom: 68px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #484847;
}

.blog-cont {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.img-1 {
    margin-right: 22px;
    margin-bottom: 30px;
    background-image: url(../img/blog1.webp);
    float: left;
}

.img-2 {
    margin-left: 22px;
    margin-bottom: 30px;
    background-image: url(../img/blog4.webp);
    float: right;
}

.blog-content-block-1 {
    padding-top: 80px;
    margin-bottom: 166px;
}

.blog-content-block-2 {
    margin-bottom: 72px;
}

.blog-content-block-3 {
    margin-top: 128px;
    margin-bottom: 162px;
}

/* responsive */
@media screen  and (max-width: 991px){
    .blog-content-block-1,
    .blog-content-block-2,
    .blog-content-block-3 {
        margin-bottom: 80px;
    }
}
@media screen  and (max-width: 768px){
    .blog-container {
        padding: 5px;
    }
    .blog-content-block-1,
    .blog-content-block-2,
    .blog-cont{
        padding-top: 10px;
        margin-bottom: 10px;
     
    }
    .blog-content-block-3 {
        margin: 10px 0 10px 0;
    }
    .blog-title {
        padding: 15px 0 0;
        font-size: 18px;
        line-height: 22px;
    }

    .blog-cont {
        margin: 0;
    }

    .blog-content {
     margin: 0;
     padding: 0;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        flex-direction: column;
        
    }
    .blog-cont {
        width: 328px;
        height: 328px;
    }

    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center; 
    }

}