.cabinet-container {
    max-width: 1016px;
}

.cabinet-container h2 {
    margin-top: 56px;
    margin-bottom: 22px;
    font-family: 'Candara';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;
text-align: center;
}

.tabs-items {
    display: flex;
    justify-content:space-between;
    margin-bottom: 28px;
}

.tabs-title {
    cursor: pointer;
}

.tabs-content-item {
    display: none;
}

.tabs-title.active{
    border-bottom: 1px solid #484847;
}

.tabs-content-item.active {
    display: block;
}

.label {
    font-family: 'Candara', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 150%;
color: #484847;
display: block;
}

.item-1 {
    column-count: 2;
    column-width: 368px;
    column-gap: 190px;
}

.input {
    width: 100%;
    height: 50px;
    padding: 10px ;
    margin-bottom: 10px;
    border: 0.5px solid #484847;
}
.input-flex {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.input-min {
    width: 100px;
    height: 50px;
  
}


.item-1 .btn {
    margin-top: 30px;
}

.tabs-content-item .btn-wrapp {
    margin-top: 30px;
}

.item2 {
   display: flex;
   justify-content: space-between;
   /* gap: 300px; */
}

.address-flex {
display: flex;
flex-direction: column;
row-gap: 20px;
}

.address-container {
    width: 100%;
    display: flex;
    font-family: 'Candara', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

}
.title-form {
    font-family: 'Candara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}
.address-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
height: 50px;
font-size: 40px;

color: #FFFFFF;
border-radius: 50%;
background-color: #4B6049;
margin-right: 10px;
}

.completed-address {
    display: flex;
    flex-direction: column;
}

.completed-address span {
    font-family: 'Candara';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-decoration-line: underline;
}


.vishlist-card-items {
    height: 300px;
    margin: 76px  0 76px 0;
    overflow-y: auto;
}

.vishlist-card-item {

    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;
    border-bottom: 1px solid #4B6049;

}

.vishlist-card-img {
    width: 80px;
    height: 80px;
    margin-right: 18px;
}



.vishlist-card-name,
.price {
    font-size: 20px;
    line-height: 24px;
  
}

.vishlist-card-name {
    text-align: center;
    margin-right: 50px;
    width: 200px;
}
.vish-btn-wrapp {
    width: 100px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 80px 0 52px ;
}

.vish-btn-wrapp::after {
    content: "";
    position: absolute;
    width: 97px;
    height: 25px;
    top: -3px;
    right: -10px;
    border: 1px solid #484847;
    z-index: -1;
}

.button-vish {
    text-align: center;
    width: 100%;
    padding: 2px 23px;
    background: #4B6049;
    color: #FFFBF5;
}

.button-vish:hover {
    cursor: pointer;
    translate: 9px -7px;
    transition: 1500ms;
}
.delete {
    font-size: 18px;
line-height: 150%;
text-decoration-line: underline;
}

.vish-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Candara';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
}

.rating {
    float: left;
    height: 20px;

}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rating:not(:checked) > label {
    float:right;
    width:20px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;

    color:#D9D9D9;;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #4B6049;    
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #4B6049;  
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #4B6049;
}


.history-container {
    height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
  
}

.history-item {
    width: 50%;
    overflow-y: auto;
}
.date {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

.history-card-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-top: 0.5px solid #4B6049;
    border-bottom: 0.5px solid #4B6049;
   
}

.history-inwrrap {
    margin-top: 10px;
    overflow-y: auto;
}

.history-name {
    width: 200px;
}
.his-inwrrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media(max-width:525px) {
    .tabs-items {
        flex-direction: column;
    }

    .item-1  {
        padding: 5px;
    }

    .item2 {
        flex-direction: column;
    }

    .address-flex {
        flex-direction: row;
    }

    .completed-address,
    .address-count {
        font-size: 14px;
        line-height: 17px;
    }
    .address-count {
        width: 30px;
        height: 30px;
    }

    .vishlist-card-item {
        flex-direction: column;
   
    }

    .vishlist-card-img img{
        width: 156px;
        height: 156px;
        float: right;
    }

    .vishlist-card-name {
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }


    .history-container {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        line-height: 17px;
        height:500px;
    }

    .history-item {
        width: 100%;
    }

    .date {
        flex-direction: column;
    }

    .history-card-item {
        flex-direction: column;
    }

    .vishlist-card-img {
        width: 109px;
        height: 109px;
        float: right;
    }
}
