.card-product-container {
    width: 1074px;
    margin: 50px auto;
    font-weight: 400;
font-size: 20px;
line-height: 150%;
}

.product-img-item {
    
    width: 460px;
height: 410px;
}

.product-container {
    display: flex;
}

.product-description {
    width: 555px;
    margin-left: 62px;
}

.centered-content {
    margin-top: 50px;
    margin-bottom: 50px;
   
}

.tabs-items {
    display: flex;
    justify-content:flex-start;
    gap: 85px;
    margin-bottom: 46px;
}

.tabs-title {
    cursor: pointer;
}

.tabs-content-item {
    display: none;
}

.tabs-title.active {
    border-bottom: 1px solid #484847;
}

.tabs-content-item.active {
    display: block;
}

.similar-products {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
}

.similar-product-list {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.similar-product-item {
    width:260px;
    padding: 13px;
    display: flex;
}

.price {
    text-align: right;
}

.input-count {
    width: 86px;
    height: 49px;
}

.icon {
    width: 36px;
    height: 36px;
}

.inner-pr-wrapp,
.inner-basket-wrapp {
    margin-top: 44px;
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;

}

.btn-resp {
    width: 200px;
    margin-bottom:  46px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #4B6049;
    color: #4B6049;
}

.respons-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
    border-bottom: 0.5px solid #484847;
}


.btn {
    margin: 40px auto;
}

.user {
    width: 106px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.rating {
    width: 100px;
    margin-right: 27px;
}