.main-catalog {
    max-width: 1074px;
}

.catalog-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;  */
    display: grid;
  justify-items: center;
    grid-template-areas: 
                        ". sort sort"
                        "filter catalog catalog"
                        "filter catalog catalog"
                        "btn-down btn-down btn-down"
                        "last last last ";
   
}

.sort {
    grid-area: sort;
    justify-self: start;
}

  
  .custom-select select {
    width: 130px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #484847;
    text-decoration-line: underline;
    border: none;
  }
  





.filter {
    grid-area: filter;
    width:226px;
}
.filter-responsive {
    display: none;
}
.filter-head {
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
}

.label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 20px;
  }

  .label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    border:1px solid #4B6049;
    
  }

  .label:hover input ~ .checkmark {
    background-color: #4B6049;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #4B6049;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .label input:checked ~ .checkmark:after {
    display: block;
  }

  .label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.min-price,
.max-price {
    position: absolute;
    width: 90px;
    height: 45px;
    left: 0px;
    top: 39px;
    border: 1px solid #484847;
}

.max-price {
    left: 120px;
    top: 39px;
}

.min-price::placeholder,
.max-price::placeholder {
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(72, 72, 71, 0.5);
}

.product-card {
    grid-area: catalog;
    display: grid;
  
    grid-template-columns: repeat(3, 260px);
    grid-template-rows: 400px;
    grid-gap: 30px;
    margin-bottom: 42px;
}

.last-product-item,
.product-item {
    padding: 13px;
}

.product-item-img {
    width: 234px;
    height: 233px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.vish {
    position: absolute;
    top: 10px;
    right: 5px;
}

.product-name {
    font-weight: 400;
font-size: 20px;
line-height: 150%;
margin-top: 13px;
}
.card-link {
    font-size: 16px;
line-height: 20px;
}

.product-price {
    text-align: end;
}

.more-link {
    display: flex;
    margin-top: 20px;
 }

.btn-wrapp-in-bascket {
    margin-left: 50px;
    width: 100px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    position: relative;
}

.catalog-btn-in-bascket {
    text-align: center;
    width: 100%;
    padding: 2px 23px;
    background: #4B6049;
    color: #FFFBF5;
}



 .btn-wrapp-in-bascket::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 25px;
    top: -8px;
    right: -10px;
    border: 1px solid #484847;
    z-index: -1;
}

.catalog-btn-in-bascket:hover {
    cursor: pointer;
    translate: 9px -7px;
    transition: 1500ms;
}



.last {
    grid-area: last;
    margin-top: 96px;
    margin-bottom: 85px;
}

.last-container {
    margin-top: 44px;
    display: flex;
}

.last-product-item {
    width: 260px;
    height: 400px;
}

.icon {
    fill: none;
    cursor: pointer;
}

.icon:hover {
    fill: #4B6049;
}

.btn-down {
    grid-area: btn-down;
}



/* dropdown */
.filter-item {
    position: relative;
}
 .filter-head::before {
    content: '+';
    color: #4B6049;
    position: absolute;

    /* top: 50%; */
    right: -5px;
    /* font-size: 30px; */
    /* transform: translateY(-50%); */
  }
 .active::before {
    content: '-';
    color: #4B6049;
    position: absolute;
    font-size: 30px;
  }
/* .toggle {
    width: 100%;
    background-color: transparent;
   
    display: flex;
   
    align-items: center;
    

    justify-content: space-between;
    font-size: 16px;
    color: #111130;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
} */
.content {
    position: relative;
    font-size: 14px;
    text-align: justify;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
 

@media (max-width: 765px) {
    .catalog-container {
        display: grid;
        justify-content: center;
        grid-template-areas:
            "filter sort sort"
            "catalog catalog catalog"
            "catalog catalog catalog"
            "btn-down btn-down btn-down"
            "last last last ";
    }
    
    .filter-head,
    .label {
        font-size: 14px;
    }


    .filter-item {
        display: none;
    }
    .filter-responsive {
        font-size: 14px;
        line-height: 17px;
        display: block;
        text-align: center;
    }

    .custom-select select{
        font-size: 14px;
        line-height: 17px;
    }
    .product-card {
        grid-template-columns: repeat(2, 156px);
    grid-template-rows: 236px;
    grid-gap: 20px;
    }
    .product-item {
        border: 0.25px solid #484847;
        padding: 2px;
    }
    .product-item-img {
        width: 146px;
        height: 146px;
    }

    .product-price {
        text-align: start;
    }
    .product-name,
    .product-price {
        font-size: 14px;
        line-height: 17px;
    }

    .more-link {
        display: none;
    }



    .last-container {
        width: 100%;
        
        flex-wrap: wrap;
    }

    .last-product-item {
        width: 50%;
        height: auto; 
     
    }
    

  

}