.main-contacts {
    max-width: 1074px;
    height: 608px;
    margin: 20px auto;
    padding: 110px 20px;
    background-image: url(../img/contact-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-content {
    /* width: 582px; */
    padding: 20px;
    background: rgba(75, 96, 73, 0.38);
    backdrop-filter: blur(7.5px);
    position: absolute;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    color: #FFFBF5;
    
}

.contacts-content::before {
    content: "";
    width: 100%;
    position: absolute;
}

.contacts-form {
    font-family: 'Candara', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #FFFBF5;

}

.contacts-form.hidden {
    display: none;
}

.contacts-form span {
    font-size: 26px;
    line-height: 32px;
}

.callback {
    margin-top: 60px;
   
    width: 276px;
}

.callback-input {
    width: 100%;
    padding: 10px 15px;
    font-family: 'Candara', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #B2B2B2;
background: rgba(75, 96, 73, 0.38);
   display: block; 
box-sizing: border-box;
    border: 1px solid #FFFBF5;
    margin-bottom: 5px;
}



.callback-input::placeholder {
    font-family: 'Candara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #B2B2B2;
}

.call {
    display: flex;
    position: relative;
}


.call::before {
content: "";
position: absolute;
width: 490px;
border: 1px solid #FFFBF5;
top: 30px;
}

.submit-wrapp {
    width: 218px;
    float: right;
 margin-right: 10px;
    margin-top: 110px;
    margin-left: 39px;

    position: relative;
}

.submit-wrapp::after {
    content: "";
    position: absolute;
    width: 218px;
    height: 59px;
    top: -8px;
    right: -10px;
    border: 1px solid #FFFBF5;
    z-index: -1;
}

.submit-btn {
    padding: 10px 32px;
    font-family: 'Candara';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 150%;
color: #FFFBF5;
background-color: #4b6049;
}

.submit-btn:hover {
    cursor: pointer;
    translate: 9px -7px;
    transition: 2000ms;
}

.contacts-thanks {
    margin: 130px  91px 130px 86px;
    font-family: 'Poiret One', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 70px;
color: #FFFBF5;
text-align: center;
display: none;
}

.contacts-thanks.show {
    display: flex;
    flex-direction: column;
}
.contacts-thanks span {
    margin-top: 10px;
    font-size: 40px;
line-height: 47px;
}


@media (max-width: 576px) {
    .contacts-form {
        width: 214px;
    }
    .contacts-form,
    .callback-input,
    .submit-btn {
    font-size: 14px;
    line-height: 17px; 
    }
    .main-contacts {
        width: 100%;
        height: 308px;
        position: relative;
    }
    .contacts-content {
        top: 0;
        width: 75%;
    }
    .call {
        flex-direction: column;
    }

    .call::before {
        width: 100%;
        top: 15px;
    }

    .callback {
        width: 100%;
      margin-top: 30px;
    }
    .callback-input {
        width: 100%;
        padding: 5px 6px;
    }
    .submit-wrapp {
        margin-top: 10px;
        margin-left: 0;
        width: 136px;
    }
    .submit-wrapp::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 36px;
  
    }

    .contacts-thanks,
    .contacts-thanks span {
        font-size: 20px;
    line-height: 20px;
 
    }

    .contacts-thanks {
        margin: 70px 40px; 
    }

 }