.del-pay-container {
   max-width:  950px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.del-pay-content {
    margin-top: 70px;
  
}

.payement,
.courier {
    width: 398px;
    padding: 44px;
    margin-left: auto;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #FFFBF5;
    background: #4B6049;
}

.del-pay-description { 
    padding: 29px;
    border: 1px solid #4B6049;
}

.post {
    width: 398px;
    padding: 44px;
    margin-right: auto;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #FFFBF5;
    background: #4B6049; 
}


.post p:last-child,
.courier p:last-child {
    font-weight: 300;
    font-size: 20px;
line-height: 150%;
}

.scroll {
    height: 448px;
    overflow: auto;
    scrollbar-color: #4b6049;
}

/* ::-webkit-scrollbar {
    width: 20px;
    height: 400px;
  }
  

  ::-webkit-scrollbar-track {
   
    border: 0.5px solid #484847;
  }
   

  ::-webkit-scrollbar-thumb {
    background: #4B6049;
  
  } */
  
  /* ::-webkit-scrollbar-button:vertical:decrement {
    background: #f7faf7;
  } */
 

  @media (max-width:768px) {
    .post,
    .payement,
    .courier {
        width: 100%;
        font-size: 18px;
    }
    .del-pay-description {
        font-size: 12px;
    }
  }