.footer {
    width: 100%;
    /* background-color: #4b6049; */
}


.footer-container {
    /* width: 1074px; */
    display: flex;
    flex-direction: column;
}

.footer-bg {
    width: 100vw;
    background-color: #4b6049;
}

.social {
    margin: 0 auto;
   width:1074px;
   /* display: flex; */
    background-color: #fff;

}


.social-link svg {
    fill: #fff;
    stroke: #4B6049;
}

.social-link:hover svg {
    fill: #4B6049;
    stroke: #fff;
}
.social-link:hover {
    color: #4B6049;
    border-radius: 50%;
    cursor: pointer;
    stroke: #fff;
}
.social-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;
    gap: 15px;
}




.footer-contact {
    margin: 0 auto;
    
    color: #fffbf5;
    width: 1074px;
   
    display: flex;
    align-items: center;
    padding:29px 0 0 14px;
}

.footer-logo {
    width: 232px;
    height: 134px;
    margin-right: 88px;
}

.footer-nav{
margin-right: 38px;
}

.footer-nav-items {
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 3px;
}

.work-time {
margin-right: 52px;
}

.work-time-items {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
}

.cards-container {
    margin: 0 auto;
    width: 1074px;
}

.cards-items {
   
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding-bottom: 12px;
}
.cards-item {
    position: relative;
}
.cards-link-logo:hover{
  
opacity: 0;
}
.cards-link-hover {
    position: absolute;
    left: 0;
    opacity: 0;
}
.cards-link-hover:hover {
    opacity: 1;
}


@media (max-width:991px) {
    .social {
        width: 791px;
    }
    .cards-container {
      
        width: 781px;
    }

    .footer-contact{
        font-family: 'Candara', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .footer-logo {
        width: 150px;
        height: 104px;
        margin-right: 58px;
    }
    
}

@media (max-width:768px){
    .social,
    .cards-container{
        width: 100%;
    }

 

    .footer-nav {
        margin-right: 18px;
    }

    .footer-contact{
        width: 100%;
        font-size: 16px;
        line-height: 28px;
    }
    .footer-logo {
        width: 150px;
        height: 104px;
        margin-right: 28px;
    }
}

@media (max-width:568px) {
    .footer-contact {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        height: 270px;
        line-height: 14px;
    }

    .footer-nav {
        position: absolute;
        top: 200px;
    }

    .work-time {
        position: absolute;
        top: 110px;
        left: 16px;
    }

    .contacts {
        position: absolute;
        top: 100px;
        right: 90px;
    }

    .confid {
        position: absolute;
        top: 100px;
    }

    .cards-items {
        justify-content: center;
    }
}