.header-container {
  
    padding-top: 10px;
    width: 1074px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #484847;
}

.header-nav {
    width: 100%;
    border-bottom: 0.5px solid #4B6049;
}

.menu-items {
  padding: 0 14px;
    display: flex;
    gap: 25px;
}

.menu-item-link {
    font-family: 'Candara',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
}

.users-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-account {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   
}
.icon {
    height: 36px;
}
.user-account svg {
    fill: #fff;
    stroke: #4B6049;
}

.user-account:hover svg {
    fill: #4B6049;
    stroke: #fff;
}
.user-account:hover {
    color: #4B6049;
    background-color: #4B6049;
    border-radius: 50%;
    cursor: pointer;
    stroke: #fff;
}

.hamburger {
    top: 26px;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
  }

.hamburger.open {
    position: absolute;
    top: 26px;
    right: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFBF5;
    border-radius: 50%;
}

.hamburger-logo {
width: 100px;
height: 58px;
}

.hamburger-nav {
    background-color: #4B6049;;
    color: #4B6049;
    padding-bottom: 10px;
    display: none;


}
.hamburger-nav__nav-items {
    position: absolute;
    height: 250px;
    width: 100%;
}
.hamburger-nav-item {

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 20px 10px 20px; 
    color: #FFFBF5;
    border-bottom: 0.5px solid #FFFBF5


}
.hamburger-nav.active {
    position: absolute;
    width: 100%;  
    height: 280px;
    top: 0;
    right: 0;
    display: block;
    z-index: 1;
     animation: fade .5s;
  }

.line {
    width: 24px;
    height: 2px;
    background-color: #4B6049;
    color: #4B6049;
    margin: 3px 0;
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }
  
  .hamburger.open .line1 {
    width: 18px;
    height: 2px;
    background-color: #FFFBF5;
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .hamburger.open .line2 {
    opacity: 0;
  }
  
  .hamburger.open .line3 {
    width: 18px;
    height: 2px;
    background-color: #FFFBF5;
    transform: rotate(45deg) translate(-5px, -6px);
  }


  @keyframes fade {
    from{transform: translateX(100px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
  }





@media (max-width:991px) {
   

    .title {
        font-size: 30px;
        line-height: 40px;
    }

    .users-menu {
        gap: 0;
    }
}

@media (max-width:768px) { 
   .users-menu:nth-child(2) {
    display: none;
   }

    .favorite,
    .header-nav {
        display: none;
    }
    .hamburger {
        display: flex;   
      }
    .header-container {
        width: 100%;
        gap: 20px;
        justify-content: center;
        
    }
}