
/* header */




/* main */


/* hero  */
.hero-container {
   max-width: 1074px;
   display: flex;
   flex-direction: row-reverse;
    
}

.section1-bg-container {
    width: 1123px;
    /* height: 804px; */
    position: relative; 
   
}
.section1-bg {
     width: 1123px;
    height: 804px;
    background-size: cover;
    position: absolute;
    top: 0;
    /* left: 0; */
    right: -400px;
  

}

.hero-img {
    width: 100%;
    height: 100%;
}

.hero-content {
    z-index: 1;
    padding: 75px 0;
}

.title {
    font-family: 'Poiret One', 'cursive';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
}

.hero-text {
    margin:92px 0;
    width: 490px;
}


/* section2 */
.new-product {
    padding-bottom: 100px;
}



.new-product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-product-container {
    position: relative;
}

.new-product-container .btn-wrapp {
    margin: 0 auto;
}
.section-title {
    position: absolute;
    top: 78px;
    left: 208px;

}

.title span {
    color:#4B6049 ;
}
.section-text {
    padding-top: 58px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}

.slider {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.slide-container {
    display: none;
}
.show {
    display: block;
}

.slider-img {
    width: 100vw;
    height: 1060px;
}


.slider-navigation {
    width: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 38px;
}

.label {
    display: block;
    position: relative;
    cursor: pointer;

  }
  
  
  .label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
 
  .slider-dot {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border: solid 1px #4B6049;
    border-radius: 50%;
  }
  
 
  .label:hover input ~ .slider-dot {
    background-color: #4B6049;
  }
  

  .label input:checked ~ .slider-dot {
    background-color: transparent;
  }
  
  
  .slider-dot:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .label input:checked ~ .slider-dot:after {
    display: block;
  }
  

  .label .slider-dot:after {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #4B6049;
  }





/* blog */
.main-blog-container {
    max-width: 1074px;
    margin-bottom: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-blog-title {
    font-size: 40px;
line-height: 49px;
color: #000000;

}

.main-blog-text {
margin: 12px 0;
}

.main-blog-img,
.main-blog-description {
    width: 522px;
/* height: 347px; */
}

.main-blog-item-1,
.main-blog-item-2,
.main-blog-item-3 {
    display: flex;
    gap: 30px;
}

.main-blog-item-1 {
    margin-bottom: 122px;
}

.main-blog-item-2 {
    margin-bottom: 210px;
}

.main-blog-item-3 {
    margin-bottom: 100px;
}

.main-blog-description {
    display: flex;
    flex-direction: column;
}


/* footer */




@media (max-width:1024px) {
    .slider-img {
        width: 100%;
        height: 660px;
    }

    .section-title {
        position: absolute;
        top: 38px;
        left: 50px;
    }

    .section-text {
        padding-top: 32px;
        font-size: 24px;
        line-height: 22px;
    }
}

@media (max-width:991px) {
    .title {
        font-size: 40px;
        line-height: 40px;
    }

    .hero-text {
        font-size: 20px;
    }

    .slider-img {
        width: 100%;
        height: 560px;
    }

    .section-title {
        position: absolute;
        top: 18px;
        left: 20px;
    }

    .section-text {
        padding-top: 32px;
        font-size: 24px;
        line-height: 22px;
    }

    .main-blog-title {
        font-size: 30px;
        line-height: 30px;
    }

    .main-blog-img, .main-blog-description {
        width: 100%;
        font-size: 20px;
        line-height: 20px;
    }

    .main-blog-item-1,
    .main-blog-item-2,
    .main-blog-item-3 {
        
        margin-bottom: 50px;
    }
 
}

@media (max-width:768px) {
    .hero-container {
        flex-direction: column;
    }
    .section1-bg-container {
        width: 100%;
        
    }

    .section1-bg {
        width: 100%;
        height: 75%;
        position: relative;
        right: 0;
    }

    .title {
        font-size: 32px;
        line-height: 40px;
    }

    .hero-text {
        width: 100%;
        margin: 15px 0;
        font-size: 18px;
    }

    .hero-content {
        padding: 15px;
    }

    .slider-img {
        width: 100%;
        height: 460px;
    }

    .section-title {
        position: absolute;
        top: 8px;
        left: 10px;
    }

    .section-text {
        padding-top: 32px;
        font-size: 18px;
        line-height: 22px;
    }

    .main-blog {
        padding: 5px;
    }
    .main-blog-img, .main-blog-description {
        
        font-size: 14px;
    }

    .main-blog-item-1{
        flex-direction: column-reverse;
    }
    .main-blog-item-2{
        flex-direction: column;
    }
    .main-blog-item-3 {
        
        flex-direction: column-reverse;
    }

}

@media (max-width:425px) {
    .slider-img {
        width: 100%;
        height: 260px;
    }
    .section-title {
        position: absolute;
        top: 8px;
        left: 10px;
    }
    .title {
        font-size: 18px;
        line-height: 22px;
    }

    .section-text {
        padding-top: 32px;
        font-size: 14px;
        line-height: 17px;
    }
}