

.main-order {
    max-width: 1074px;
    margin: 54px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


 .main-order-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.main-order-container h2 {
    font-weight: normal;
    font-size: 40px;
}
 
form {
    width: 100%;
}

.tabs-items {
    display: flex;
  
    color: #000;
}

.tabs-content-item {
    display: flex;
    
    flex-direction: column;
    font-weight: 400;
font-size: 20px;
line-height: 150%;
}

.input {
    width: 368px;
    padding: 10px;
    margin-bottom: 10px;
}

.inner-wrap {
    width: 100%;
    height:294px ;
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.inner-wrap::-webkit-scrollbar {
    width: 14px;
    background-color:#fff;
}

.inner-wrap::-webkit-scrollbar-thumb {
    background-color: #4B6049;
}

.centered-content {
    margin-top: 20px;
}
.tabs-items {
    display: flex;
    justify-content:space-between;
    margin-bottom: 28px;
}

.tabs-title {
    display: flex;
    color: #484847; 
    cursor: pointer;
}

.tabs-title.active .tabs-title-count{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #4B6049;
    margin-right: 10px;
}

.tabs-title-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: #4B6049;
    border: 1px solid #4B6049;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 10px;
}
.tabs-content-item {
    display: none;
}



.tabs-content-item.active {
    display: flex;
}

.basket-card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
    margin-right: 30px;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 0.5px solid #4B6049;
}

.basket-card-item:first-child {
    border-top: 0.5px solid #4B6049;
}

.basket-card-img {
    width: 80px;
height: 80px;
}

.basket-card-name {
    width: 240px;
}

.price {
    margin-bottom: 50px;
    text-align: right;
}

.basket-card-count {
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: column; */
    justify-content: space-around;
    width: 86px;
    height: 49px;
    padding: 5px 17px;
    gap: 5px;
    border: 1px solid #484847; 
}

.img-arrow {
    width: 16px;
    height: 9px;
}

.product-count {
    width: 15px;
    border: none;
    font-family: 'Candara';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 150%;
color: #484847;

}
.wrapper-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.label-delivery-pay {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
  }
  
 
 .input-delivery-pay {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #484847;
  }
  
  
  .label-delivery-pay:hover .input-delivery-pay ~ .checkmark {
    background: #bae0b6;
  }
  
  
  .label-delivery-pay:checked ~ .checkmark {
    background-color: transparent;
  }
  
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
.input-delivery-pay:checked ~ .checkmark:after {
    display: block;
  }
  
 
.label-delivery-pay .checkmark:after {
       top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
  
      background: #4B6049;
  }


.paymentDelivery {
    display:flex;
    width: 100%;
    justify-content: space-between;
}


@media (max-width:525px) {
    .main-order {
        margin: 30px 0;
        position: relative;
        padding-bottom: 50px;
    }
    .main-order-container {
        flex-direction: column-reverse;
        
    }
    .main-order-container h2 {
        position: absolute;
        font-size: 18px;
        line-height: 22px;
        top: 0;
    }

    .inner-wrap {
        padding: 5px;
        height: auto;
        /* position: relative; */
        margin-bottom: 50px;
    }

    .basket-card-item {
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .basket-card-img {
        width: 156px;
        height: 156px;
        float: right;
    }

    .basket-card-name {
        font-size: 14px;
        line-height: 17px;
        width: 155px;
    }
    .price {
        margin-bottom: 0;
        text-align: left;
 
    }
    .basket-card-count {
       width: 62px;
    height: 36px;
    padding: 2px 6px;  
    }

   
    .btn-wrapp {
        position: absolute;
        bottom: 0;
        left: 10px;
    }
    .catalog-btn {
        font-size: 18px;
    line-height: 22px;
    }

    .paymentDelivery {
        flex-direction: column;
    }

    .tabs-items {
        flex-direction: column;
    }
}