.thanks-main-container {
    width: 100%;
    height: 642px;
    margin: 18px auto;
    background-image: url(../img/order-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.thanks-content {
    margin: 0 auto;
    padding: 60px;
    background: rgba(75, 96, 73, 0.38);
    backdrop-filter: blur(7.5px);
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    color: #FFFBF5;
    text-align: center;

}

.thanks-content p:first-child {
    margin-top: 10px;
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
}

@media screen and (max-width:991px) {
    .thanks-content,
    .thanks-content p:first-child {
        font-size: 24px;
        line-height: 24px;
        padding: 30px;
        margin-top: 0;
    }
}

@media screen and (max-width:768px) {
    .thanks-content,
    .thanks-content p:first-child  {
        font-size: 18px;
        line-height: 18px;
        padding: 10px;
    }
}

@media screen and (max-width:425px) {
    .thanks-content {
        width: 100%;
        padding: 60px 0;

    }
    .thanks-main-container {
        height: 189px;
      background-image: none;
      background-color: rgba(75, 96, 73, 0.38);
backdrop-filter: blur(7.5px);

    }
}